<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/**
 * Last ordered items sidebar
 *
 * @var $block \Magento\Sales\Block\Reorder\Sidebar
 */
?>
<div class="block block-reorder" data-bind="scope: 'lastOrderedItems'" style="background-color: whitesmoke;padding-bottom: 20px;">
    <div class="block-title no-display"
         data-bind="css: {'no-display': !lastOrderedItems().items || lastOrderedItems().items.length === 0}" style="text-align: center;display: grid;background-color: white;">
        <strong id="block-reorder-heading" role="heading" aria-level="2" style="font-weight: 400; margin: 10px !important;"><?= /* @escapeNotVerified */ __('Recently Ordered') ?></strong>
    </div>
    <div class="block-content no-display"
         data-bind="css: {'no-display': !lastOrderedItems().items || lastOrderedItems().items.length === 0}"
         aria-labelledby="block-reorder-heading">
        <form method="post" class="form reorder"
              action="<?= /* @escapeNotVerified */ $block->getFormActionUrl() ?>" id="reorder-validate-detail">
            <strong class="subtitle"><?= /* @escapeNotVerified */ __('Last Ordered Items') ?></strong>
            <ol id="cart-sidebar-reorder" class="product-items product-items-names"
                data-bind="foreach: lastOrderedItems().items">
                <li class="product-item" style="display: flex;">
                    <div class="field item choice no-display" data-bind="css: {'no-display': !is_saleable}" style="margin-left: 5px;padding-right: 7px;">
                        <label class="label" data-bind="attr: {'for': 'reorder-item-' + id}">
                            <span><?= /* @escapeNotVerified */ __('Add to Cart') ?></span>
                        </label>
                        <div class="control">
                            <input type="checkbox" name="order_items[]"
                                   data-bind="attr: {id: 'reorder-item-' + id, value: id}"
                                   title="<?= /* @escapeNotVerified */ __('Add to Cart') ?>"
                                   class="checkbox" data-validate='{"validate-one-checkbox-required-by-name": true}'/>
                        </div>
                    </div>
                    <strong class="product-item-name" style="width: 100%;">
                        <a data-bind="attr: {href: url}" class="product-item-link">
                            <div data-bind="text: name" style="white-space: nowrap;text-overflow: ellipsis;overflow: hidden;width: 90%;padding: 5px 5px 0 0;"></div>
                        </a>
                    </strong>
                </li>
                <hr>
            </ol>
            <div id="cart-sidebar-reorder-advice-container"></div>
            <div class="actions-toolbar" style="display: inline;">
                <div class="primary no-display"
                     data-bind="css: {'no-display': !lastOrderedItems().isShowAddToCart}" style="margin-left: 10px;">
                    <button type="submit" title="<?= /* @escapeNotVerified */ __('Add to Cart') ?>" class="action tocart primary">
                        <span><?= /* @escapeNotVerified */ __('Add to Cart') ?></span>
                    </button>
                </div>
                <div class="secondary" style="margin-right: 5px;">
                    <a class="action view" href="<?= /* @escapeNotVerified */ $block->getUrl('customer/account') ?>">
                        <span><?= /* @escapeNotVerified */ __('View All') ?></span>
                    </a>
                </div>
            </div>
        </form>
    </div>
    <script>
    require(["jquery", "mage/mage"], function(jQuery){
        jQuery('#reorder-validate-detail').mage('validation', {
            errorPlacement: function(error, element) {
                error.appendTo('#cart-sidebar-reorder-advice-container');
            }
        });
    });
    </script>
</div>
<script type="text/x-magento-init">
{
    "*": {
        "Magento_Ui/js/core/app": {
            "components": {
                "lastOrderedItems": {
                    "component": "Magento_Sales/js/view/last-ordered-items"
                }
            }
        }
    }
}
</script>
