.block-widget-rokanthemes-brand .block-title{
    margin-top: 40px;
    margin-bottom: 30px;
    text-align: center;
    overflow: hidden;  
}
.block-widget-rokanthemes-brand .owl-theme .owl-pagination{
  position: static;
  margin-top: 15px;
}
.block-widget-rokanthemes-brand{
  text-align: center;
}
.block-widget-rokanthemes-brand strong{
    color: #201f1f;
    font-size: 36px;
    padding: 0;
    text-transform: capitalize;
    position: relative;
    margin-bottom: 10px;
    font-weight: 400;
    display: inline-block;
    line-height: 30px;
    padding: 0 5px;
}
.block-widget-rokanthemes-brand strong:before, .block-widget-rokanthemes-brand strong:after{
     content: "";
    display: block;
    width: 1168px;
    position: absolute;
    top: 50%;
    border-top: 1px solid #ebebeb;
}
.block-widget-rokanthemes-brand strong:before{
  left: 100%;
}
 .block-widget-rokanthemes-brand strong:after{
  right: 100%;
 }
 @media (max-width: 480px){
  .block-widget-rokanthemes-brand strong{
    padding: 0 5px;
  }
 }
@media (max-width: 767px){
  .block-widget-rokanthemes-brand strong{
    font-size: 26px;
    font-weight: 500;
  }
}
.sidebar .block{
  border: 0;
  padding-right: 0;
  padding-left: 0;
}
.sidebar .block .block-title strong{
    font-size: 18px;
    color: #444;
    position: relative;
    font-weight: 700;
    margin: 10px;
    text-align: left;
    text-transform: none;
}
.sidebar .block-content li{
   padding: 0 0 10px;
    font-size: 14px;
    margin-bottom: 10px;
        position: relative;
}
.brandlist .block-content{
  margin-bottom: 30px;
}
.brandlist .toolbar-products .pages{
  display: block;
  margin-top: 30px;
  float: left;
}
.brandlist  .toolbar-products .toolbar-amount{
  float: right;
  margin-top: 30px;
}
.brand-item{
  text-align: center;
  margin-bottom: 30px;
}
.brand-item .name,
.brand-item  .brand-name{
  margin-top: 10px;
}
.brand-view {
  margin-bottom: 50px;
  padding-bottom: 30px;
  border-bottom: 1px solid #ebebeb;
}
.brand-view .brand-image{
  margin-bottom: 20px;
}
.brand-label{
  margin-top: 20px;
  display: block;
}
.product-page-brand-common-view.product-brands {
  margin: 15px 0;
}
.product-page-brand-common-view .product-brands li{
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 10px;
  text-align: left;
}
.product-page-brand-common-view .product-brands li img{
  max-width: 50px;
}
.product-page-brand-common-view .product-brands li a{
  display: block;
  font-size: 11px;
}
.product-page-brand-common-view .product-brands li a:last-child{
  margin-top: 3px;
max-width: 50px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.cms-index-index .block-widget-rokanthemes-brand .owl-theme .owl-controls .owl-buttons > div{
  top: 10%;
}