<div class="payment-method" data-bind="css: {'_active': (getCode() == isChecked())}">
   <div class="payment-method-title field choice">
      <input type="radio"
         name="payment[method]"
         class="radio"
         data-bind="attr: {'id': getCode()}, value: getCode(), checked: isChecked, click: selectPaymentMethod, visible: isRadioButtonVisible()"/>
      <label data-bind="attr: {'for': getCode()}" class="label"><span data-bind="text: getTitle()" style="font-size: larger;"></span></label>
   </div>
   <div class="payment-method-content">
      <!-- ko foreach: getRegion('messages') -->
      <!-- ko template: getTemplate() --><!-- /ko -->
      <!--/ko-->
      <div class="payment-method-billing-address">
         <!-- ko foreach: $parent.getRegion(getBillingAddressFormName()) -->
         <!-- ko template: getTemplate() --><!-- /ko -->
         <!--/ko-->
      </div>
      <!--<div data-bind="if: specializationArray() != null && specializationArray().length > 0 ">-->
      <div class="payment-service">
         <form id="p123-payment-form" class="p123-payment-form">
            <div class="tba_123_collasp _collapsible" data-bind="mageInit: {'collapsible':{'openedState': 'true'}}">
              <div class="p123-title" data-role="title">
                  <span class="tba-p123-collapse-toggle" role="heading" aria-level="1">
                    เค้าเตอร์ เซอร์วิส
                  </span>
                  <i class="fa fa-chevron-down" style="width: 100%;text-align: right;"></i>
              </div>
              <div id="tba-p123-counter-collapse" class="panel-collapse" data-role="content">
                  <div class="p123-choice">
                    <div class="p123-choice-content"><input type="radio" name="agentCode" value="OVERTHECOUNTER::MPAY" checked/><div class = "tba_pay_logo tba_cs_mpay"/></div>
                    <div class="p123-choice-content"><input type="radio" name="agentCode" value="OVERTHECOUNTER::BIGC" /><div class = "tba_pay_logo tba_cs_bigc"/></div>
                    <div class="p123-choice-content"><input type="radio" name="agentCode" value="OVERTHECOUNTER::TRUEMONEY" /><div class = "tba_pay_logo tba_cs_true"/></div>
                    <div class="p123-choice-content"><input type="radio" name="agentCode" value="OVERTHECOUNTER::PAYATPOST" /><div class = "tba_pay_logo tba_cs_tpost"/></div>
                    <div class="p123-choice-content"><input type="radio" name="agentCode" value="OVERTHECOUNTER::TESCO" /><div class = "tba_pay_logo tba_cs_tesco"/></div>
                    <div class="p123-choice-content"><input type="radio" name="agentCode" value="OVERTHECOUNTER::BOONTERM" /><div class = "tba_pay_logo tba_ki_boonterm"/></div>
                    <!-- <div class="p123-choice-content"><input type="radio" name="agentCode" value="OVERTHECOUNTER::TOT" /><div class = "tba_pay_logo tba_cs_tot"/></div> -->
                    <div class="p123-choice-content"><input type="radio" name="agentCode" value="OVERTHECOUNTER::CENPAY" /><div class = "tba_pay_logo tba_cs_cenpay"/></div>
                  </div>
              </div>
            </div>
            <div class="tba_123_collasp _collapsible" data-bind="mageInit: {'collapsible':{'openedState': '_active'}}">
              <div class="p123-title" data-role="title">
                  <span class="tba-p123-collapse-toggle" role="heading" aria-level="2">
                    อินเทอร์เน็ต แบงค์กิ้ง
                  </span>
                  <i class="fa fa-chevron-down" style="width: 100%;text-align: right;"></i>
              </div>
              <div id="tba-p123-internet-collapse" class="panel-collapse" data-role="content">

                  <div class="p123-choice" id="p123-dropdown">
                    <div class="p123-choice-content"><input type="radio" name="agentCode" value="IBANKING::BAY" /><div class = "tba_pay_logo tba_ib_bay"/></div>
                    <div class="p123-choice-content"><input type="radio" name="agentCode" value="IBANKING::BBL" /><div class = "tba_pay_logo tba_ib_bbl"/></div>
                    <div class="p123-choice-content"><input type="radio" name="agentCode" value="IBANKING::KBANK" /><div class = "tba_pay_logo tba_ib_kbank"/></div>
                    <div class="p123-choice-content"><input type="radio" name="agentCode" value="IBANKING::KTB" /><div class = "tba_pay_logo tba_ib_ktb"/></div>
                    <div class="p123-choice-content"><input type="radio" name="agentCode" value="IBANKING::SCB" /><div class = "tba_pay_logo tba_ib_scb"/></div>
                    <!-- <div class="p123-choice-content"><input type="radio" name="agentCode" value="WEBPAY::TBANK" /><div class = "tba_pay_logo tba_ib_tbank"/></div> -->
                    <!-- <div class="p123-choice-content"><input type="radio" name="agentCode" value="WEBPAY::TMB" /><div class = "tba_pay_logo tba_ib_tmb"/></div> -->
                  </div>

              </div>
            </div>
            <div class="tba_123_collasp _collapsible" data-bind="mageInit: {'collapsible':{'openedState': '_active'}}">
              <div class="p123-title" data-role="title">
                  <span class="tba-p123-collapse-toggle" role="heading" aria-level="2">
                    เอทีเอม
                  </span>
                  <i class="fa fa-chevron-down" style="width: 100%;text-align: right;"></i>
              </div>
              <div id="tba-p123-atm-collapse" class="panel-collapse" data-role="content">

                  <div class="p123-choice" id="p123-dropdown">
                    <div class="p123-choice-content"><input type="radio" name="agentCode" value="ATM::BAY"/><div class = "tba_pay_logo tba_atm_bay"/></div>
                    <div class="p123-choice-content"><input type="radio" name="agentCode" value="ATM::BBL" /><div class = "tba_pay_logo tba_atm_bbl"/></div>
                    <div class="p123-choice-content"><input type="radio" name="agentCode" value="ATM::KBANK" /><div class = "tba_pay_logo tba_atm_kbank"/></div>
                    <div class="p123-choice-content"><input type="radio" name="agentCode" value="ATM::KTB" /><div class = "tba_pay_logo tba_atm_ktb"/></div>
                    <div class="p123-choice-content"><input type="radio" name="agentCode" value="ATM::SCB" /><div class = "tba_pay_logo tba_atm_scb"/></div>
                    <!-- <div class="p123-choice-content"><input type="radio" name="agentCode" value="ATM::TBANK" /><div class = "tba_pay_logo tba_atm_tbank"/></div>
                    <div class="p123-choice-content"><input type="radio" name="agentCode" value="ATM::TMB" /><div class = "tba_pay_logo tba_atm_tmb"/></div> -->
                  </div>

              </div>
            </div>
             <!--  <div class="tba_123_collasp _collapsible" data-bind="mageInit: {'collapsible':{'openedState': '_active'}}">
                <div class="p123-title" data-role="title">
                  <span class="tba-p123-collapse-toggle" role="heading" aria-level="2">
                    ตู้รับชำระเงิน
                  </span>
                  <i class="fa fa-chevron-down" style="width: 100%;text-align: right;"></i>
                </div>
                <div id="tba-p123-kiosk-collapse" class="panel-collapse" data-role="content">

                    <div class="p123-choice" id="p123-dropdown">
                      <div class="p123-choice-content">
                        <input type="radio" name="agentCode" value="OVERTHECOUNTER::BOONTERM" />
                        <div class = "tba_pay_logo tba_ki_boonterm"/>
                      </div>
                    </div>

                </div>
              </div> -->
            <div class="checkout-agreements-block">
                <!-- ko foreach: $parent.getRegion('before-place-order') -->
                <!-- ko template: getTemplate() --><!-- /ko -->
                <!--/ko-->
            </div>
          
        </form>
      </div>
        
      <div class="checkout-agreements-block">
          <!-- ko foreach: $parent.getRegion('before-place-order') -->
          <!-- ko template: getTemplate() --><!-- /ko -->
          <!--/ko-->
      </div>

      <div class="actions-toolbar">
         <div class="primary">
            <button  class="action primary checkout" type="submit" data-bind="click: placeOrder,attr: {title: $t('Place Order')},
               css: {disabled: !isPlaceOrderActionAllowed()},
               enable: (getCode() == isChecked())"
               disabled >
            <span data-bind="i18n: 'Place Order'"></span>
            </button>
         </div>
      </div>
   </div>
</div>
<div id="responseArea" style="display:none;"></div>
<style type="text/css">
  .p123-title{
    width: 100%;
    background-color: #999;
    text-align: center;
    padding: 6pt;
    color: #fff;
    margin-top: 2.5pt;
    margin-bottom: 2.5pt;
    font-weight: 600;
    font-size: small;
    display: inline-table;
  }
  .tba-p123-title:hover{
    cursor: pointer;
    background-color: #018dc2;
  }
  .p123-choice label{
    float: left;
    width: 25%;
  }
  .p123-choice input{
    float: left;
    width: 25%;
    margin-top: 20px;
  }

  .p123-choice-content{
    float: left;
    width: 25%;
    padding: 15px;
    margin-left: 15px;
  }
</style>
