<?php
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/**
 * Product view template
 *
 * @see \Magento\Catalog\Block\Product\View\Description
 */
?>
<?php
$_helper = $this->helper('Magento\Catalog\Helper\Output');
$_product = $block->getProduct();
$_call = $block->getAtCall();
$_code = $block->getAtCode();
$_className = $block->getCssClass();
$_attributeLabel = $block->getAtLabel();
$_attributeType = $block->getAtType();
$_attributeAddAttribute = $block->getAddAttribute();

if ($_attributeLabel && $_attributeLabel == 'default') {
    $_attributeLabel = $_product->getResource()->getAttribute($_code)->getFrontendLabel();
}
if ($_attributeType && $_attributeType == 'text') {
    $_attributeValue = ($_helper->productAttribute($_product, $_product->$_call(), $_code)) ? $_product->getAttributeText($_code) : '';
} else {
    $_attributeValue = $_helper->productAttribute($_product, $_product->$_call(), $_code);
}
?>

<?php if ($_attributeValue): ?>
<div class="product attribute <?php /* @escapeNotVerified */ echo $_className ?>">

    <?php if ($_attributeLabel != 'none'): 
			if ($_attributeLabel == 'SKU'): 

				$_attributeLabel = "บาร์โค้ด ";
				$_attributeValue = $_product->getData('barcode');
	?>
			<div class="tba_barcode"><?php /* @escapeNotVerified */ echo $_attributeLabel?> : <?php /* @escapeNotVerified */ echo $_attributeValue; ?></div>
		<?php else :?>

				<strong class="type">
					<?php /* @escapeNotVerified */ echo $_attributeLabel?>: 
				</strong>
				<div class="value" <?php /* @escapeNotVerified */ echo $_attributeAddAttribute;?>>
					<?php /* @escapeNotVerified */ echo $_attributeValue; ?>
				</div>
		<?php 
			endif; 
		?>
	<?php else :?>

		<div class="value" <?php /* @escapeNotVerified */ echo $_attributeAddAttribute;?>>
			<?php /* @escapeNotVerified */ echo $_attributeValue; ?>
		</div>

   	<?php endif; ?>	
</div>
<?php endif; ?>
