/**
 * custom theme 2020-02-24 09:51:10 */

#newsletter_pop_up{
width: 970px;height: 540px;background-color: #FFFFFF;}
html, body { 
    font-size: 14px; 
	font-family: Open Sans Condensed;
}
html,body{
	color:#888888;
}
a, a:focus {
	color:#018DC2;
}
a:hover{
	color:#01B9FF;
}
.btn, .action.primary, .block-cart-failed .action.continue, .cart-container .form-cart .action.continue, .cart.table-wrapper .action-gift, .cart.table-wrapper .actions-toolbar>.action, .review-form .action.submit.primary, button{
		background-color:#018DC2;
    border-color:#018DC2;
			color:#FFFFFF;
	}
.btn:hover, .action.primary:hover, .block-cart-failed .action.continue:hover, .cart-container .form-cart .action.continue:hover, .cart.table-wrapper .action-gift:hover, .cart.table-wrapper .actions-toolbar>.action:hover, .review-form .action.submit.primary:hover, button:hover{
		background-color:#01B9FF;
    border-color:#01B9FF;
			color:#FFFFFF;
	}
