/**
 * custom theme 2017-08-01 04:00:49 */

#newsletter_pop_up{
width: 800px;height: 447px;background-color: #F4F4F4;background-image: url(http://127.0.0.1/smartmedia/pub/media/rokanthemes/newsletter/background/default/newsletter-popup.jpg);background-repeat: no-repeat;
background-position: right center;}
