/**
 * custom theme 2018-04-02 15:38:28 */

#newsletter_pop_up{
width: 800px;height: 612px;background-color: #FFFFFF;background-image: url(http://labbluesky.com/magento/smartmedia223/pub/media/rokanthemes/newsletter/background/default/logo_popup_03_2.png);background-repeat: no-repeat;
background-position:  50% 19%;}
