<?php
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile
if($banners = $block->getBannerCollection()):
	$slider = $block->getSlider();
	$sliderId = $block->getSliderId(); 
?>
<div class="wrapper_slider hidden-xs slider_<?php echo $sliderId; ?>">
	<div class="owl">
		<?php foreach($banners as $banner){	?>
			<div class="banner_item">
			<?php
			$html = $block->getImageElement($banner->getSlideImage());
			if($link = $banner->getSlideLink())
				$html = '<a href="'. $link .'">' . $html . '</a>' ; 
			echo $html;
			?>
			</div>
		<?php } ?>
	</div>
</div>
<div class="wrapper_slider visible-xs slider_<?php echo $sliderId; ?>_mobile">
	<div class="owl">
		<?php foreach($banners as $banner){	?>
			<div class="banner_item">
			<?php
			$html = $block->getImageElement($banner->getSlideImageMobile());
			if($link = $banner->getSlideLink())
				$html = '<a href="'. $link .'">' . $html . '</a>' ; 
			echo $html;
			?>
			</div>
		<?php } ?>
	</div>
</div>
<script>
	require([
		'jquery',
		'mage/mage',
		'rokanthemes/owl'
	], function ($) {
		'use strict';
		jQuery(".slider_<?php echo $sliderId; ?>_mobile .owl").owlCarousel(
			{<?php foreach($slider->getSliderSetting() as $key=>$value)
				{
					if(in_array($key, array('autoPlay', 'navigation', 'stopOnHover', 'pagination', 'scrollPerPage'))){
						$value == 0 ? $value = 'false': '';
						$value == 1 ? $value = 'true': '';
					}
					echo $key . ':' . $value . ',';
				} ?>}
		);
		jQuery(".slider_<?php echo $sliderId; ?> .owl").owlCarousel(
			{<?php foreach($slider->getSliderSetting() as $key=>$value)
				{
					if(in_array($key, array('autoPlay', 'navigation', 'stopOnHover', 'pagination', 'scrollPerPage'))){
						$value == 0 ? $value = 'false': '';
						$value == 1 ? $value = 'true': '';
					}
					echo $key . ':' . $value . ',';
				} ?>}
		);
	});
</script>
<?php endif; ?>
