 <div class="container">
	<div class="row">
		<div class="col-md-3 col-sm-12 col-xs-12">
			<?php echo $block->getLayout()->createBlock('Rokanthemes\BestsellerProduct\Block\Bestseller')->setTemplate('Rokanthemes_BestsellerProduct::bestseller.phtml')->toHtml();?>
			<div class="banner-effect-text"><?php echo $block->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('banner_sale')->toHtml();?>
			</div>

			<div class="on-sale">
				<?php echo $block->getLayout()->createBlock('Rokanthemes\Onsaleproduct\Block\Onsaleproduct')->setTemplate('Rokanthemes_Onsaleproduct::onsaleproduct.phtml')->toHtml();?>
			</div>
			<div class="on-blog">
				<?php echo $block->getLayout()->createBlock('Rokanthemes\Blog\Block\Sidebar')->setTemplate('Rokanthemes_Blog::slider.phtml')->toHtml();?>
			</div>
			
			<div class="blog-home3">	
				<?php echo $block->getLayout()->createBlock('Rokanthemes\Blog\Block\Sidebar')->setTemplate('Rokanthemes_Blog::slider.phtml')->toHtml();?>
				<?php echo $block->getLayout()->createBlock('Rokanthemes\Blog\Block\Sidebar\Recent')->setTemplate('Rokanthemes_Blog::sidebar/slider.phtml')->toHtml();?>
			</div>
			<div class="insert-ads">
				<?php echo $this->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('insert_ads_home3')->toHtml(); ?>
			</div>
		</div>

		<div class="col-md-9 col-sm-12 col-xs-12">
			<div class="product-tab">
				<?php echo $block->getLayout()->createBlock('Rokanthemes\ProductTab\Block\Producttab')->setTemplate('Rokanthemes_ProductTab::producttab.phtml')->toHtml();?>
			</div>
			<div class="catagoryproduct-tab">
					<?php echo $block->getLayout()->createBlock('Rokanthemes\CategoryProductTab\Block\CategoryProduct')->setTemplate('Rokanthemes_CategoryProductTab::categoryproducttab.phtml')->toHtml();?>
			</div>
			<div class="hot-deal">
				<div class="banner-sale">
					<?php echo $block->getLayout()->createBlock('Rokanthemes\Superdeals\Block\ProductByCat')->setTemplate('Rokanthemes_Superdeals::category.phtml')->toHtml();?>
				</div>	
			</div>
			<div class="section-bestseller">
				<div class="wrapper-bestseller cat1">
					<?php echo $block->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('category1_home3')->toHtml();?>
				</div>
			</div>
			<div class="banner-mid-home3">
				<?php echo $block->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('banner_mid_home3')->toHtml();?>
			</div>
			<div class="section-bestseller">
				<div class="wrapper-bestseller cat2">
					<?php echo $block->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('category2_home3')->toHtml();?>
				</div>
			</div>
		</div>	
	</div>
 </div>
 <div class="main-content-home">
	<div class="list-service">
		<div class="container">
			<?php echo $this->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('section_services')->toHtml(); ?>
		</div>
	</div>
</div>

<script type="text/javascript">
require([
		'jquery',
		'mage/mage',
		'rokanthemes/owl'
	], function ($) {
		'use strict';
	$( document ).ready(function() {
		$("ul.tabs li").click(function() {
			$(this).closest("ul").find("li").removeClass("active");
			$(this).addClass("active");
			$(this).closest(".common-tab-system-fixed").find(".tab_content").hide();
			$(this).closest(".common-tab-system-fixed").find(".tab_content").removeClass("animate1");
			var activeTab = $(this).attr("rel");
			$("#"+activeTab) .addClass("animate1");
			$("#"+activeTab).fadeIn();
		});
		//Close Service Box
		$('.close-service-box').on('click',function(event) {
			event.preventDefault();
			$('.banner-top-home').slideUp('slow');
		});
		
		if($('.category-brand-slider').length>0){
			$('.category-brand-slider').each(function(){
			  $(this).find('.wrap-item').owlCarousel({
				items: 1,
				itemsCustom: [
				[0, 2],
				[480, 2],
				[768, 1],
				[992, 1],
				[1200, 1]
				],
				pagination: false,
				navigation: true,
				autoPlay:true,
				navigationText:['<i class="fa fa-angle-left"></i>','<i class="fa fa-angle-right"></i>']
			  });
			});
		}
	});
});
</script>