/*---- new popup ------*/
a {
      -webkit-transition: all .3s ease 0s;
    -o-transition: all .3s ease 0s;
    transition: all .3s ease 0s;
    text-decoration: none;
}
.owl-theme .owl-controls {
  margin-top: 0;
}
.fa, .far, .fas { 
   // font-family: 'FontAwesome',sans-serif;
   line-height: 22px;
}
.fa-long-arrow-up:before {
	content: "\f30c";
    font-weight: 900;
}
.fa-exchange:before { font-family: 'FontAwesome',sans-serif; }
.fa-heart-o:before {
	 content: "\f004"; 
	 font-family: "Font Awesome 5 Free";
    font-weight: 900;
}
.old-price, .old.price {
	text-decoration: line-through;
	color: #787d6b;
}
.table-comparison .cell .attribute.value {
	font-family: 'Arial',sans-serif;
    font-size: 14px;
    color: #1f2610;
    font-weight: 400;
} 
.cms-index-index #maincontent.page-mains{ display: none; }
#maincontent.page-mains {
	border-bottom: 4px solid #1f2610;
	padding-bottom: 50px;

}
.product-info .product .value { font-family: 'Arial',sans-serif; color: #666;}
.fancybox-wrap .action_button .button {
	 font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
    background-color: #1f2610;
    padding: 10px;
    border: 0;
    border-radius: 0;
    line-height: 1;
    font-family: 'Oswald', sans-serif;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s; 
}
.post-images .post_images { display: block; }
.fb_iframe_widget iframe { min-height: 200px ! ; }
.product-info-main .product.attribute.overview { display: none; }  
#newsletter_pop_up { 
  background-size: cover; 
  .newsletterpopup-flex {
    display: flex ;
    justify-content: center;
    flex-direction: column;
    align-items: left;
  }
  .actions { margin-top: 60px; }
  .control { margin-top: 50px; }
  .content-popup {
    display: flex; 
    justify-content: center; 
    flex-direction: column; 
    align-items: left;
  }
}
#newsletter_pop_up .btn-close {
  text-decoration: none;
  background: none;
  height: 25px;
  right: 8px;
  top: 10px;
  width: 25px;
  &:before{
    content: "\f057";
    font-family:'Font Awesome 5 Free';
    font-size: 24px;
    color: #1f2610;
    font-weight: 400;
  }
}
#newsletter_pop_up .title h3 {
  font-size: 45px;
  font-weight: 500;
  font-family: 'Oswald',sans-serif;
  color: #1f2610;
  text-transform: capitalize;
  letter-spacing:0;
  margin-bottom: 5px;
}
#newsletter_pop_up .des-newletter {
  font-size: 14px;
  color: #666;
   font-family: 'Arial',sans-serif;
   line-height: 1;
}
.top-nav-right .block-search .control input,
#newsletter_pop_up .control input {
  border: 0;
  border-bottom: 1px solid #e8e9e7;
   font-family: 'Arial',sans-serif;
}
#newsletter_pop_up .actions .subscribe.primary {
  font-size: 18px;
  padding: 12px 37px;
  background-color: #1f2610;
  font-family: 'Oswald',sans-serif;
  font-weight: 500;
}
#newsletter_pop_up .subscribe-bottom {
  margin-top: 100px;
  float: right;
  color: #666;
  font-weight: 400;
  font-family: 'Arial',sans-serif
}

.owl-theme .owl-buttons { display: none; }
#back-top i { line-height: 38px; }
.page-footer .footer-copyright ul li:first-child { display: inline-block; }
.page-footer .footer-copyright .footer.links { float: right; }
.page-footer .footer-copyright .copyright { float: none; }

.page-footer .footer-copyright ul li:last-child { padding-right: 0; }

body .verticalmenu.navigation.side-verticalmenu > ul li.level0 > a { border-bottom: none; }
.nav-container { position: relative; }
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, 
.col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, 
.col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, 
.col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, 
.col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11,
.col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 { padding: 0 10px; }
.verticalmenu.navigation.side-verticalmenu > ul li.level0 > a {
  font-family: 'Oswald',sans-serif;
  font-size: 20px;
  font-weight: 600;
  color: #1f2610;
  text-transform: uppercase;
}
.page-footer {
  background: #fff;
  margin-top: 0;
}
.page-main {
  padding-left: 0; 
  padding-right: 0;
  border-bottom: 3px solid;
  padding-bottom: 50px;
}
.page-footer .footer-copyright { 
  padding: 50px 0;
}
.page-footer .footer-copyright .copyright { 
  border-left: 2px solid #1f2610;
  padding-left: 10px;
  color: #1f2610;
  font-size: 18px;
  font-weight: 400;
  font-family: 'Oswald',sans-serif;
}
.page-footer .footer-copyright .copyright a { 
  color: #b95d02;
}
.page-footer .footer-copyright ul li a {
  color: #1f2610;
  font-size: 18px;
  font-weight: 400;
  font-family: 'Oswald',sans-serif;
}
.page-footer .footer-copyright ul li a:hover {
  text-decoration: none;
  color: #b95d02; 
  border-bottom: 2px solid #b95d02;
  padding-bottom: 20px;
}
.register-login  span,
.register-login > a { font-size: 0; }
.register-login a:before  {
  content: "\f007";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  color: #1f2610;
  font-size: 14px;
}
.zoom-image span {
  font-size: 30px;
}


.product-item .product-info .pull-left, .product-list-item .product-info .pull-left { 
  max-width: 100%;
}
.product-item { position: relative; }
.product-item .product-info {
    position: absolute;
    top: 0;
    left: 10px;
    bottom: 0;
    right: 10px;
    text-align: center;
    opacity: 0;
    visibility: hidden;
    background: #1f2610;
    padding: 20px;
    z-index: 99;
    -webkit-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  -ms-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  transition: all 0.5s linear;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
 }
.product-item:hover .product-info {
  opacity: 1;
  visibility: visible;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.container-fluid { 
	margin-top: 50px; 
	padding-right: 60px;
    padding-left: 60px;
}  
.row { margin: 0 -10px; }
  .product-item, .product-list-item { padding: 0 10px; }
 .top-menu {
      -js-display: flex;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row nowrap;
    flex-flow: column;
    -ms-flex-align: center;
    align-items: left;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100%;
    height: 100%;
 }
 .top-menu .logo {
    float: none;
    margin: 20px 0 75px 0;
    max-width: 100%;
    display: block;
} 
.banner-h5-bottom-right { margin-top: 20px; }
.banner-h5-right,.banner-h5-top-left { margin: 20px 0; }
.banner-h5-bottom-right,
.banner-h5-right {
	position: relative;
	overflow: hidden;
	img {
	    transform: scale(1); 
	     -webkit-transform: scale(1); 
	     transition: all 0.5s ease-out 0s;
		-webkit-transition: all 0.5s ease-out 0s;
		-webkit-transition: all 0.3s ease;
		-moz-transition: all 0.3s ease;
		-ms-transition: all 0.3s ease;
		-o-transition: all 0.3s ease;
	}
	&:hover img {
	    transform: scale(1.05);
	    -webkit-transform: scale(1.05);
	    opacity: 0.9;
	}
}

.product-item .product-photo, .product-list-item .product-photo { z-index: 11; }
.newlabel,
.onsale {
  .sale-text { 
    position: absolute;
    top: 10px;
    right: -5px;
    font-size: 16px;
    color: #fff;
    z-index: 9999;
    font-family: 'Oswald',sans-serif;
    background: #b95d02;
    padding: 3px 14px;
    font-weight: 500;
  }
}
.newlabel .sale-text { background: #1f2610;}
 .product-item:hover .newlabel,
 .product-item:hover .onsale {
    opacity: 0;
    visibility: hidden;
  }
.product-item .product-info .product-name a, .product-list-item .product-info .product-name a {
  font-size: 20px;
  font-weight: 500;
  color: #fff;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 60px;
  &:hover {
    color: #fff;
  }
}
.product-item .product-info .price-box .price, .product-list-item .product-info .price-box .price {
  font-size: 24px;
  font-family: 'Oswald',sans-serif;
  color: #fff;
  font-weight: 700;
}
.product-item .product-info .price-box .old-price .price, .product-list-item .product-info .price-box .old-price .price {
  color: #787d6b;
  font-size: 22px;
  font-family: 'Oswald',sans-serif;
  font-weight: 400;
  margin-left: 5px;
}

#back-top {
   font-family: 'Oswald',sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #1f2610;
    width: auto; 
    height: auto;
  -moz-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
  border-radius: 0;
  background: 0;
  right: -15px;
    bottom: 150px;
    line-height: 60px;
  i {
    padding-bottom: 27px;
    font-weight: 600;
    -moz-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg); 
  }
}
.fa-heart:before { 
  font-family: "Font Awesome 5 Free"; 
}
.product-item .product-info .addto-links-icons >div  {
  display: inline-block;
  &.add-to-links { margin: 0 8px; }
  .icon {
    width: 52px;
    height: 52px;
    line-height: 46px;
	font-size: 18px;
    border: 3px solid #7e8079;
    border-radius: 100%;
    display: block;
   font-family: "Font Awesome 5 Free";
    font-weight: 900;
    &:before {
      color: #7e8079;
    }
  }
  &:hover {
    .icon {
      border-color: #fff;
      &:before {
        color: #fff;
      }
    }
  }
}
.product-item .product-info .price-box, .product-list-item .product-info .price-box { margin: 0 0 25px 0; }

.product-item .addto-links-icons .actions-primary {
    moz-transform: translateX(-35px);
    -webkit-transform: translateX(-35px);
    -o-transform: translateX(-35px);
    -ms-transform: translateX(-35px);
    transform: translateX(-35px);
    -webkit-transition: all 0.4s linear;
-moz-transition: all 0.4s linear;
-ms-transition: all 0.4s linear;
-o-transition: all 0.4s linear;
transition: all 0.4s linear;
}
.product-item:hover .addto-links-icons .actions-primary {
    -moz-transform: translateX(0px);
    -webkit-transform: translateX(0px);
    -o-transform: translateX(0px);
    -ms-transform: translateX(0px);
    transform: translateX(0px);
}
.product-item .product-list_ .addto-links-icons .actions-primary,
.product-item:hover .product-list_ .addto-links-icons .actions-primary,
.product-item:hover .addto-links-icons .actions-primary .btn-add-to-cart, 
.product-list-item:hover .addto-links-icons .actions-primary .btn-add-to-cart,
.product-item .addto-links-icons .actions-primary .btn-add-to-cart, 
.product-list-item .addto-links-icons .actions-primary .btn-add-to-cart{ transform: none; }
.product-item .product-info .addto-links-icons .quickview-product{
  moz-transform: translateX(35px);
    -webkit-transform: translateX(35px);
    -o-transform: translateX(35px);
    -ms-transform: translateX(35px);
    transform: translateX(35px);
    -webkit-transition: all 0.4s linear;
  -moz-transition: all 0.4s linear;
  -ms-transition: all 0.4s linear;
  -o-transition: all 0.4s linear;
  transition: all 0.4s linear;
}
.product-item:hover .product-info .addto-links-icons .quickview-product{
    -moz-transform: translateX(0px);
    -webkit-transform: translateX(0px);
    -o-transform: translateX(0px);
    -ms-transform: translateX(0px);
    transform: translateX(0px);
    -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.banner_ .discripsion{
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  text-align: center;
  opacity: 0;
  visibility: hidden;
  padding: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
   
  // -webkit-transform: scale(0.95);
  //   transform: scale(0.95);
    	background: #1f2610;
-webkit-transition: all 0.4s linear;
-moz-transition: all 0.4s linear;
-ms-transition: all 0.4s linear;
-o-transition: all 0.4s linear;
transition: all 0.4s linear;
  h3 {
    font-size: 30px;
    color: #fff;
    font-family: 'Oswald',sans-serif;
    font-weight: 500;
    margin-bottom: 0;
    text-transform: uppercase;
  }
  p {
    font-size: 12px;
    color: #7d8078;
    font-family: 'Oswald',sans-serif;
    font-weight: 300;
    margin-bottom: 40px;
  }
  a {
    font-size: 16px;
    color: #7e8079;
    font-family: 'Oswald',sans-serif;
   padding: 9px 40px 11px 40px;
    border: 2px solid #7e8079;
    &:hover {
      color: #fff;
      border-color: #fff;
    }
  }
}
.banner_ {
  position: relative;
-webkit-transition: all 0.4s linear;
-moz-transition: all 0.4s linear;
-ms-transition: all 0.4s linear;
-o-transition: all 0.4s linear;
transition: all 0.4s linear;
    img {
-webkit-transition: all 0.4s linear;
-moz-transition: all 0.4s linear;
-ms-transition: all 0.4s linear;
-o-transition: all 0.4s linear;
transition: all 0.4s linear;
    }
  &:hover{
    .discripsion{
      opacity: 1;
      visibility: visible;
    // -webkit-transform: scale(1);
    // transform: scale(1);
    }
    img {
      opacity: 0;
      visibility: hidden;
    }
  }
}


.nav-sections-item-content > .container_.nav-container {
  display: block;
}

//quickview

.page-title-wrapper .page-title .base {
  font-size: 20px;
  font-family: 'Oswald',sans-serif;
  font-weight: 500;
  color: #282828;
  text-transform: capitalize;
}

.page-title-wrapper .page-title .base:before { display: none; }
.quick-view-content .product-info-main .price-box .price-wrapper .price {
  font-size: 24px;
  font-family: 'Oswald',sans-serif;
  font-weight: 700;
  color: #282828;
}
.quick-view-content .product-info-main .price-box .old-price .price-wrapper .price {
   font-weight: 300;
   margin-left: 5px;
}
.product-info-main .special-price, 
.product-options-bottom .special-price {
  display: inline-block;
  margin: 0;
}


//Detail

.page-wrapper > .breadcrumbs { 
   margin-top: 45px;
   .container { margin: 0; }
 }
.breadcrumbs ul li a {
  font-size: 20px;
  font-family: 'Oswald',sans-serif;
  font-weight: 600;
  color: #1f2610;
}
.breadcrumbs .item:not(:last-child):after {
  content: "/" ;
  color: #1f2610;
  font-size: 20px;
  font-family: 'Oswald',sans-serif;
  font-weight: 600;
}
.breadcrumbs .items {
  border-left: 5px solid #1f2610;
  padding-left: 20px;
  line-height: 1.4;
  li {
	text-transform:uppercase;
	}
  li.product,li strong { text-transform:capitalize; }
}
.breadcrumbs ul li strong {
  color: #b95d02;
  font-size: 20px;
  font-family: 'Oswald',sans-serif;
  font-weight: 400;
}
.product-info-main .page-title-wrapper .page-title {
  margin-top: 0;
}
.breadcrumbs ul li a:hover {
  color: #b95d02;
 text-decoration: none;
}
.page-wrapper > .breadcrumbs {
  margin-bottom: 45px;
}
.page-title-wrapper .page-title .base{ 
  margin-bottom: 30px;
  padding-bottom: 0;
}
.view-product .price-box .old-price .price-container .price {
  font-weight: 300;
  color: #1f2610;
  margin-left: 5px;
}
.fotorama__stage__frame .fotorama__img {
  width: 100%;
  height: 100%;
}
.product.info.detailed .product.data.items .item.title:hover a, 
.product.info.detailed .product.data.items .item.title.active a {
  color: #1f2610;
  border-bottom: 5px solid #1f2610;
}
.product.info.detailed .product.data.items .item.title a {
  color: #1f2610;
  font-weight: 500;
   font-family: 'Oswald',sans-serif;
   font-size: 20px;
     padding-bottom: 20px;
    display: inline;
    border-bottom: 3px solid transparent;
}
.product.info.detailed .product.data.items .item.title:after { display: none; }
.product.data.items > .item.content {
  margin-left: 0;
}

.product.info.detailed .product.data.items .item.content {
  padding-top: 0;
  margin-top: 40px; 
}
.product-info-main .value p,
.product-info-main .value ul li,
.product.info.detailed .product.data.items .item.content .description p,
.product.info.detailed .product.data.items .item.content .description ul li,
.product.info.detailed .product.data.items .review-add .review-fieldset .legend {
  font-family: "Arial" ,sans-serif;
  color: #1f2610;
  font-size: 14px;
  font-weight: 400;
}
.rokan-product-heading h2 {
  color: #1f2610;
  font-weight: 500;
 font-family: 'Oswald',sans-serif;
   font-size: 30px;
 padding-bottom: 0;
  border-bottom: none; 
  margin-bottom: 0;
}
.products { margin: 25px 0; }


.product-page-brand-common-view {
  border-bottom: 1px solid #eee;
  margin-bottom: 35px;
  padding-bottom: 35px;
}
.product-page-brand-common-view .product-brands li {
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 10px;
  text-align: left;
}
.product-page-brand-common-view .product-brands li a {
  display: block;
  font-size: 11px;
}
.product-page-brand-common-view .product-brands li img {
  max-width: 50px;
}
.product-page-brand-common-view .product-brands li a:last-child {
  margin-top: 3px;
  max-width: 50px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.product-options-wrapper .swatch-option.color {
  border: none;
  position: relative;
}
.product-options-wrapper .swatch-option.image:not(.disabled):hover, 
.product-options-wrapper .swatch-option.color:not(.disabled):hover {
  border: none;
  box-shadow: none;
}
.product-options-wrapper .swatch-option.color:after {
  content: "";
  width: 5px;
  height: 5px;
  position: absolute;
  bottom: 10px;
  color: #1f2610;
}
.product-add-form .fieldset > .field:not(.choice) > .label span,
.view-product .box-tocart .field.qty label span, 
.product-options-bottom .box-tocart .field.qty label span {
  font-weight: 700;
}
.view-product .box-tocart .actions, .product-options-bottom .box-tocart .actions {
    font-weight: 700;
}                                     
.view-product .box-tocart .action.tocart, .product-options-bottom .box-tocart .action.tocart {
  border-radius: 50px;
}
.view-product .box-tocart .action.tocart, .product-options-bottom .box-tocart .action.tocart span { 
  color: #fff;
  font-weight: 400;
 font-family: 'Oswald',sans-serif;
   font-size: 18px;
 padding-bottom: 0;
  border-bottom: none; 
  margin-bottom: 0;
}
.product-social-links {
  position: absolute;
  left: 246px;
  bottom: 20px;
}
.product-info-main .action.tocompare, 
.product-options-bottom .action.tocompare, 
.product-info-main .action.towishlist {
  background: transparent;
}

.product-social-links .action.mailto.friend:before,
.product-social-links .action .fa, .product-social-links .action.mailto.friend .fa {
  border-radius: 100%;
  background: #fff;
  border: 3px solid #1f2610;
  color:  #1f2610;
  line-height: 46px;
  width: 52px;
	height: 52px;
}
.product-info-main .action.towishlist:hover, 
.product-info-main .action.tocompare:hover {
  background: transparent;
}
.product-social-links .action.mailto.friend:hover:before,
.product-social-links .action:hover .fa, 
.product-social-links .action.mailto.friend:hover .fa {
  background: #1f2610;
  color: #fff;
}
.view-product .box-tocart .field.qty .control input, 
.product-options-bottom .box-tocart .field.qty .control input { 
    border-radius: 52px;
    border: 3px solid #1f2610;  
	height: 52px;
    line-height: 52px;
    width: 52px;
}
.product-info-main .box-tocart .field.qty, .product-options-bottom .box-tocart .field.qty,
.view-product .box-tocart .field.qty, .product-options-bottom .box-tocart .field.qty { display: block; }
.view-product .box-tocart .action.tocart, .product-options-bottom .box-tocart .action.tocart { line-height: 50px; }
.product-info-main { position: relative; }
.product-info-main .product-reviews-summary .reviews-actions a { color:  #1f2610; }
.product-info-main .box-tocart .action.tocart {
  color: #fff;
  font-weight: 400;
  font-family: 'Oswald', sans-serif;
  font-size: 18px;
  padding-bottom: 0;
  border-bottom: none;
  margin-bottom: 0;
  line-height: 50px;
  border-radius: 50px;
  padding: 0px 50px;
}
.product-info-main .box-tocart { margin-bottom: 0; }

.zoom-image {
  position: relative;
}
.zoom-image a:after { 
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
}
.zoom-image span {
  position: absolute;
  top: 50%;
  left: 50%;
  font-family: 'Oswald',sans-serif;
  font-weight: 500;
  font-size: 45px;
  color: #fff;
  line-height: 1;
  text-transform: uppercase;
  -moz-transform: translateX(-50%) translateY(-50%);
-webkit-transform: translateX(-50%) translateY(-50%);
-o-transform: translateX(-50%) translateY(-50%);
-ms-transform: translateX(-50%) translateY(-50%);
transform: translateX(-50%) translateY(-50%);
}


.title-us {
  margin-top: 70px;
  margin-bottom: 50px;
  h3 {
     font-family: 'Oswald',sans-serif;
    font-weight: 500;
    font-size: 26px;
    color: #1f2610;
    text-transform: uppercase;
    margin-bottom: 5px;
  }
  p {
    font-family: 'Oswald',sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #1f2610;
  }
}
.about_left {
  padding-left: 20px;
}
.container-about-us {
  h4 {
     font-family: 'Oswald',sans-serif;
    font-weight: 500;
    font-size: 36px;
    color: #1f2610;
    line-height: 22px;
    margin-bottom: 28px;
    padding-bottom: 30px;
    span {
      border-bottom: 5px solid #1f2610;
      padding-bottom: 12px;
    }
  }
  p {
    font-family: "Arial",sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #1f2610;
  }
  .description {
    font-family: "Arial",sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #1f2610;
    p { margin: 40px 0; }
  }
}
.title_css {
   font-family: 'Oswald',sans-serif;
  font-weight: 500;
  font-size: 18px;
  color: #1f2610;
  margin-bottom: 18px;
  span {
    margin-left: 20px;
  }
}
.list {
  background-color: #f4f4f4;
  height: 10px;
  width: 100%;
  margin-bottom: 45px;
  span {
    display: block;
    background-color: #1f2610;
    height: 10px;
  }
}


.social-icons li {
      display: inline-block;
    vertical-align: middle;
    a {
      color: #1f2610;
      font-size:18px;
      font-weight: 400;
      margin-left: 21px;
      span {
        font-size: 0;
      }
      &:hover {
        border-bottom: 3px solid #1f2610;
        padding-bottom: 5px;
      }
    }
}
.window-restore:before{
  content: "\f2d2";
   font-family: "Font Awesome 5 Free"; 
}

.fa-map-marker-alt:before,
.fa-phone:before {
  font-family: 'Font Awesome 5 Free';
}

.iframe_contact {
  overflow: hidden;
}
.banner_contact{
  margin-bottom: 70px;
}

.banner_top_home { 
  margin-bottom: 50px;
  overflow: hidden;
  .item1 {
    padding: 30px 20px;
    float: left;
    background: #f4f4f4;
    width: 32%;
    margin-right: 2%;
    &:hover {
      background-color: #1f2610;
      .feature_icon span i:before {
        color: #fff;
      }
      .feature_content h3,
      .feature_content p {
        color: #fff;
      }
    }
    .feature_icon i { line-height: 1; }  
    .feature_content {
      padding-left: 12px;
      h3 {
        font-size: 18px;
        color: #1f2610;
        margin-bottom: 0;
      }
      p {
         font-family:"Arial" ,sans-serif;
         font-size: 13px;
         color: #1f2610;
         font-style: italic;
         font-weight: 300;
      }
    }
  }
}
.banner_top_home  .item1:last-child {
  margin-right: 0;
}
.form.contact { padding-left: 25px; }
.banner_top_home .feature_icon span .map-marker-alt:before {
  content: "\f3c5";
  font-size: 30px;
  color: #1f2610;
   font-family: 'Font Awesome 5 Free';
}
.banner_top_home .feature_icon span .phone:before {
  content: "\f095";
  font-size: 30px;
  color: #1f2610;
   font-family: 'Font Awesome 5 Free';
}
.banner_top_home .feature_icon span .envelope:before {
  content: "\f0e0";
  font-size: 30px;
  color: #1f2610;
   font-family: 'Font Awesome 5 Free';
}
.banner_top_home {
  .feature_icon,
  .feature_content {
    display: inline-block;
  }
}
.vc_column-inner  .wpb_wrapper {
  text-align: center;
  background: #f4f4f4;
  padding: 30px;
  span {
    margin-bottom: 20px;
  }
  span:before {
    font-size: 30px;
    color: #1f2610;
    font-size: 40px;
  }  
  &:hover {
    background: #1f2610;
    span:before,
    .feature_text_widget   {
      color: #fff;
    }
  }
}
.list-contact-info p i:before {
  padding-right: 21px;
  font-size: 16px;
  color: #1f2610;
}
.social-icons li span {
  font-size: 18px;
  color:#1f2610;
  font-weight: 500;
  font-family: 'Oswald',sans-serif;
  text-transform: uppercase;
}
.contact-index-index .page-title-wrapper .page-title { display: none; }

.fieldset .legend{ 
  margin-bottom: 20px;
  span {
    font-family: 'Oswald',sans-serif;
    color: #1f2610;
    font-size: 18px;
    font-weight: 500;
  }
 }
 .fieldset > .field,
.fieldset > .field:not(.choice) > .label {
  font-family: 'Oswald',sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #1f2610;
  margin-bottom: 10px;
  padding-top: 15px;
  &:before,&:after {
    display: none;
  }
}
 .fieldset > .field:not(.choice) > .control,
 .fieldset > .field:not(.choice) > .label {
  width: 100%;
 }
.primary .action.primary {
  background-color: #1f2610;
  &:hover {
    background-color: #b95d02;
  }
} 
.minicart-wrapper .action.showcart:before { display: none; }
.minicart-wrapper .action.showcart .counter.qty.empty { 
  display: inline-block; 
  background: none;
  color: #b95d02;
    top: -9px;
    right: -18px;
}

.slider_homepage5slider .owl-theme .owl-buttons { display: block;position: unset; }
.slider_homepage5slider .owl-theme .owl-controls .owl-buttons > div {
  background: transparent;
  color: #1f2610;
  position: absolute;
  top: 50%;
  -moz-transform: translateY(-50%);
-webkit-transform: translateY(-50%);
-o-transform: translateY(-50%);
-ms-transform: translateY(-50%);
transform: translateY(-50%);
  &:hover {
    background: transparent;
    color: #b95d02;
    &:before { color: #b95d02; }
  }
  &:before {
    font-size: 40px;
    color: #1f2610;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
  }
  &.owl-prev {
   left: 15px; 
   &:before {
		content: "\f053";
	}	
  }
  &.owl-next { 
  	right: 15px;
	&:before {
		content: "\f054";
	}	
  }

}
.product-item .product-info .pull-left, .product-list-item .product-info .pull-left {
    width: 100%;
  }
  .verticalmenu.navigation.side-verticalmenu > ul li.level0.parent > a:after { display: none; }


.product-item .product-list_ .special-price { display: inline-block; margin-right: 5px; }
.product-item  .product-list_ .price-box {
  margin: 10px 0;
}
.products-list .product-item .product-list_ .product-item-details .product-item-description {
  color: #1f2610;
}
.products-list .product-item .product-list_ .product-item-details .product-name { margin-bottom: 15px; }
.products-list .product-item .product-list_ .product-item-details .addto-links-icons {
  margin-top: 0;
}
// style menu

.verticalmenu.navigation.side-verticalmenu > ul li.level0 .level0.submenu {
  width: 100%;
  left: 0 !important; 
  box-shadow: none;
  position: unset;
  border-radius: 0;
 padding: 0 8px;
}

.verticalmenu.navigation .subchildmenu.mega-columns > li {
  float: none;
}
.verticalmenu.navigation .subchildmenu.mega-columns.columns4 > li { 
  width: 100%;
  padding: 0;
}
.verticalmenu.navigation.side-verticalmenu > ul li.level0 .level0.submenu .subchildmenu > li.level1 > a {
  padding-bottom: 0;
}
.verticalmenu.navigation.side-verticalmenu > ul li.level0 .level0.submenu .subchildmenu > li.level1 > a {
  padding: 0 15px;
  border-left: 2px solid transparent;
  margin: 8px 0;
  display: inline-block;
  width: 100%;
}

.verticalmenu.navigation.side-verticalmenu > ul li.level0 .level0.submenu .subchildmenu > li.level1 > a:hover {
  border-color:  #b95d02;
}
.column.main .product-item { padding: 0; }
.top-nav-right {
  margin-top: 75px;
  &:before,
  &:after{
	display: table;
	content: "";
	clear: both;
	}
  .block-search {
    width: auto;
    float: left;
  }
  .register-login a:before,
  .minicart-wrapper i:before,
  .block-search i:before {
    font-size: 20px;
    color: #1f2610;
  }
  .minicart-wrapper { float: left; }
  .register-login { float: right; }

}
.top-nav-right {
  .register-login a:hover:before,
  .minicart-wrapper i:hover:before,
  .block-search i:hover:before {
    border-bottom: 3px solid #1f2610;
    padding-bottom: 12px;
  }
}
.dropdown-menu {
  border: none;
  box-shadow: none;
}
.block-search .nested { display: none; }
input[type="text"] { font-size: 13px; }
.block-search .action.search { 
  top: 5px; 
  padding: 6px;
  right: 0;
}
.block-search .action.search:hover:before { color: #1f2610; }
.minicart-wrapper .action.showcart .counter.qty.empty {
    position: absolute;
    top: -9px;
    right: -18px;
    font-size: 13px;
}
.contact-info-page .item-contact-info { 
  padding-right: 50px; 
  h2 {
    margin-top: 22px;
    margin-bottom: 0;
  }
}
.footer .copyright, .footer .bugs { margin: 0; }


.post-images {
  label ,a{
    color: #1f2610;
    font-family: 'Oswald',sans-serif;
    font-weight: 500;
     margin-top: 10px; 
    display: inline-block; 
    font-size: 20px;
  }
  a:hover{
    color: #b95d02;
  }
}
.minicart-wrapper .action.showcart .counter.qty {
	background: transparent;
	 color: #b95d02;
	 margin: 0;
	 position: absolute;
     top: -9px;
     right: -18px;
     font-size: 13px;
}
.post-view .post-info .post-description, .post-list .post-info .post-description, 
.post-view .post-content .post-description, .post-list .post-content .post-description{
    font-family: 'Arial',sans-serif;
    font-size: 13px;
    font-weight: 400;
    color:  #1f2610;
  } 
 .blog-post-info {
  margin-bottom: 30px;
 } 
.blog-post-info .post-title{
	margin-top: 20px;
	margin-bottom: 0;
	 a {
		 color: #1f2610;
		  font-family: 'Oswald',sans-serif;
		  font-weight: 400;
		  font-size: 24px;
		  &:hover {
		    color: #b95d02;
		  }
	}
}
.post-info-extra .post-date{
   color: #1f2610;
  font-family: 'Oswald',sans-serif;
  font-weight: 400;
  font-size: 14px;
  margin: 10px 0;
}
.blog-post-info .desc {
  font-family: 'Arial',sans-serif;
  font-size: 13px;
  font-weight: 400;
  color:  #1f2610;
}
.post-info-bottom .post-readmore:hover {
  text-decoration: underline;
}
button.action.primary { background-color: #1f2610;  }
 .products-list .product-item .product-item-details .addto-links-icons .actions-secondary a .fa {
  background: #1f2610;
}

.minicart-wrapper .action.showcart.active:before { display: none; }
.minicart-wrapper .block-minicart:before {
  left: 25px;
  right: auto;
}
.minicart-wrapper .block-minicart:after {
  left: 19px;
  right: auto;
}
.fieldset > .field.choice .label { display: inline-block; }
.choice.newsletter input { float: none;display: inline-block;margin-top: 10px; }

.item-inner .product-item .product-info {
  left: 0;
  right: 0;
}
body #quickview-close {
  background: none;
  height: 25px;
  right: 5px;
  top: 0;
  width: 25px;
}
body #quickview-close:before {
  content: "\f057";
  font-family: 'Font Awesome 5 Free';
  font-size: 24px;
  color: #1f2610;
  font-weight: 400;
  margin-left: 0;
}
.product-options-wrapper .swatch-option  { display: inline-block; }

.ion-ios-close-empty:before {
    content: "\f057";
    font-family: 'Font Awesome 5 Free';
    font-size: 24px;
    color: #fff;
    font-weight: 400;
}

.navigation .level0 .submenu .level1.parent .level2.parent a:after, .navigation .level0 .submenu .level1.parent a:after {
  font-size: 24px;
}

.verticalmenu.navigation li.parent.ui-menu-item .level-top:before{
	content: '\f105';
    font-family: FontAwesome;
    color: #1f2610;
    font-size: 24px;
    float: right;
    position: static;
}
.verticalmenu.navigation.side-verticalmenu > ul li.level0.parent:hover > a:before{
	    color: #b95d02;
}
#layered-ajax-filter-block {
	display: none;
  overflow: hidden;
 }
button.fillter-onclick {
  width: 95px;
   margin-bottom: 15px;
   text-transform: capitalize;
   border: none;
   overflow: hidden;
   &:after {
    font-family: 'FontAwesome',sans-serip;                                                                                                                         
      content: '\f0b0';
      margin-left: 8px;
      font-size: 14px;
   }
 }
// #narrow-by-list>div { float:left;width: 50%; }
.block-content.filter-content .widget >div {float:left;width: 25%;padding-right: 3%;}

.swatch-option {
  border-radius: 25%;
  height: 30px;
}
.filter-content .filter-options .filter-options-title {
  font-size: 16px;
  font-family: 'Oswald',sans-serif;
  color: #1f2610;
  font-weight: 500;
}
.ui-slider-horizontal {
  background: #a8aaa5;
  border-radius: 0;
  height: 5px;
}
.ui-slider .ui-slider-handle {
  border-radius: 0;
  top: -3px;
  background: #1f2610;
}
.ui-slider-horizontal .ui-slider-handle { margin-left: 0; }

#layered_ajax_price_attribute #layered_ajax_price_text { margin-bottom: 5px;color: #b95d02; }


// Portfolio

.portfolio-item {
  position: relative;
  margin-bottom: 20px;
  .portfolio-bottom-content {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      text-align: center;
        font-size: 16px;
      font-weight: 500;
      color: #fff;
      opacity: 0;
      visibility: hidden;
      background: #1f2610;
      padding: 20px;
      z-index: 99;
      -webkit-transition: all .5s linear;
      -moz-transition: all .5s linear;
      -ms-transition: all .5s linear;
      -o-transition: all .5s linear;
      transition: all .5s linear;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      h4 { margin-bottom: 0; }
      a {
          font-size: 16px;
        font-weight: 500;
        color: #fff;
      }
  }
  &:hover{
    .portfolio-bottom-content {
      opacity: 1;
      visibility: visible;
      -webkit-transition: all .3s linear;
      -moz-transition: all .3s linear;
      -ms-transition: all .3s linear;
      -o-transition: all .3s linear;
      transition: all .3s linear;
    }
    .portfolio-top-content {
      opacity: 0;
      visibility: hidden;
    }
  }
}
.portfolio-container .block-title h3 {
  margin-top: 30px;
  font-family: Oswald,sans-serif;
  font-size: 20px;
  font-weight: 600;
  color: #1f2610;
  text-transform: uppercase;
} 
.portfolio-content h1 {
   font-family: Oswald,sans-serif;
  font-size: 20px;
  font-weight: 600;
  color: #1f2610;
  text-transform: uppercase;
}


// popup Login



.header-top-setting { position: relative; }
.header-top-setting .setting-container {
  background-color: #fff;
  padding: 20px;
  list-style: none;
  margin: 0;
  min-width: 220px;
  padding-bottom: 5px;
  box-shadow: none;
  border: 1px solid #ebebeb;
  position: absolute;
  right: 0;
  z-index: 1000;
  // opacity: 0;
  // visibility: hidden;
  display: none;
  transition: all .3s ease 0s;
  text-align: left;
  top: 35px;
  ul li a {
    color: #1f2610;
    &:hover{
      color: #b95d02;
    }
  }    
}
// .header-top-setting:hover .setting-container {
//     visibility: visible;
//     opacity: 1;
//     -webkit-transition: all 0.4s linear;
//     -moz-transition: all 0.4s linear;
//     -ms-transition: all 0.4s linear;
//     -o-transition: all 0.4s linear;
//     transition: all 0.4s linear;
// }

.block-customer-login {
  .primary {
    display: block;
    margin-top: 10px;
    text-align: center;
    .primary {
      width: 100%;  
      background-color: #eee;
      &:hover {
        background-color: #1f2610;
        span { color: #fff; }
      }  
      span {
        font-size: 18px;
        font-weight: 500;
        color: #1f2610;
      }
    }
  }
}
.login-container .block.block-customer-login .actions-toolbar .secondary a {  color: #1f2610; }
input:not([type]), input[type="text"], input[type="password"], input[type="date"], 
input[type="datetime"], input[type="datetime-local"], 
input[type="month"], input[type="week"], input[type="email"], 
input[type="number"], input[type="search"], input[type="tel"], input[type="time"], 
input[type="url"], input[type="color"], textarea {
  border: none;
  border-bottom: 1px solid #d2d4cf;
  padding: 0;
  font-family: 'Arial', sans-serif;
}


.verticalmenu.navigation .open-children-toggle {
  display: block;
  position: absolute;
  width: 42px;
  height: 42px;
  right: 6;
  top: 0;
  z-index: 1;
  cursor: pointer;
}
.verticalmenu.navigation .open-children-toggle {
  display: block;
  position: absolute;
  width: 42px;
  height: 42px;
  right: 20px;
  top: -12px;
  z-index: 1;
  cursor: pointer;
}
.verticalmenu.navigation li.level0 .submenu.level0 .subchildmenu li.parent .subchildmenu,
.verticalmenu.navigation li.level0 .submenu.level0 {
  height: initial;
  visibility: initial;
  opacity: 1;
}
.verticalmenu.navigation li.level0 .submenu.level0 .subchildmenu li.parent .subchildmenu.opened ,
.verticalmenu.navigation li.level0 .submenu.level0.opened {
  height: initial;
}
.verticalmenu.navigation li.level0 .subchildmenu {padding: 0;}
.verticalmenu.navigation li.parent.ui-menu-item {
      .level-top:before {
        font-family: FontAwesome;
        content: "\f067";
        font-size: 14px;
        right: 22px;
        position: absolute;
        font-weight: 500;
      }
     .level-top.ui-state-active:before {
      content: '\f068';
        color: #b95d02;
      font-family: FontAwesome;
      font-size: 14px;
      right: 22px;
      position: absolute;
      font-weight: 500;
    }
    
  }
.verticalmenu.navigation li.parent.ui-menu-item .submenu .parent {
    .title-cat-mega-menu:before{
      font-family: FontAwesome;
      content: "\f067";
      font-size: 14px;
     right: 19px;
     position: absolute;
      font-weight: 500;
    }
      .title-cat-mega-menu.ui-state-active:before {
      content: '\f068';
      color: #b95d02;
      font-family: FontAwesome;
      font-size: 14px;
     right: 19px;
     position: absolute;
      font-weight: 500;
    }
}
.verticalmenu.navigation li.level0.fullwidth .submenu .subchildmenu .subchildmenu, 
.verticalmenu.navigation li.level0.staticwidth .submenu .subchildmenu .subchildmenu {
  padding: 0 15px;
  li a { padding: 0 15px; }
}
.verticalmenu.navigation.side-verticalmenu>ul li.level0 .level0.submenu .subchildmenu>li.level1>a.ui-state-active {
      border-left: 2px solid #b95d02;
      color: #b95d02;
}
.verticalmenu.navigation.side-verticalmenu>ul li.level0 .level0.submenu .subchildmenu>li.level2 a  {
   color: #1f2610;
    font-size: 14px;
    font-family: Oswald,sans-serif;
    margin-bottom: 0;
    text-decoration: none;
    font-weight: 400;
}
.verticalmenu.navigation.side-verticalmenu>ul li.level0>a.ui-state-active {
  color: #b95d02;
  &:before { color: #b95d02; }
}

.navigation .level0 .submenu .level1.parent .level2.parent a:after, .navigation .level0 .submenu .level1.parent a:after {display: none;}
// .columns .column.main

.columns {
  .column.main {
    padding-bottom: 0;
  }
}
.column.main { min-height: auto; }


 body .verticalmenu.navigation.side-verticalmenu::-webkit-scrollbar {
     width: 2px;
	 height: 2px;
 }

 /* Track */
 body .verticalmenu.navigation.side-verticalmenu::-webkit-scrollbar-track {
     box-shadow: inset 0 0 5px #fff; 
     border-radius: 10px;
 }
  
 /* Handle */
  body .verticalmenu.navigation.side-verticalmenu::-webkit-scrollbar-thumb {
     background: #fff; 
     border-radius: 10px;
 }

 /* Handle on hover */
  body .verticalmenu.navigation.side-verticalmenu::-webkit-scrollbar-thumb:hover {
     background: #fff; 
 }
 
 .popup-authentication .block-authentication { 
	border-top : 0;
    display: block;
        -webkit-flex-direction: unset;
    -ms-flex-direction: unset;
    flex-direction: unset;
    .logo {
	    float: none;
	    margin: 20px 0 100px;
	    max-width: 100%;
	    display: block;
	    border-bottom: 3px solid #1f2610;
	    padding-bottom: 50px;
	    margin-bottom: 50px;
    }   font-size: 24px;
    color: #1f2610;
    font-weight: 400;
    .block-customer-login {
    	float: none;
    	width: 100%;
    }
 }
 .modal-custom .action-close, .modal-popup .action-close, .modal-slide .action-close{ right: 20px ;top:48px; }
 .modal-custom .action-close:before, .modal-popup .action-close:before, .modal-slide .action-close:before {
    content: "\f057";
    font-family: 'Font Awesome 5 Free';
    font-size: 24px;
    color: #1f2610;
    font-weight: 400;
 }

 
 .modal-popup._inner-scroll {
	position: fixed;
	left: 0;
	right: auto;
	width: 100%;
}
.modal-popup .modal-inner-wrap { 
	border: none;
}
.modal-popup._inner-scroll .modal-inner-wrap {
	width: 21.6%;
	min-width: 1px;
	max-height:100%;
	height: 100%;
	margin: 0;
}
.popup-authentication .block[class] {
	 padding: 0;
}
aside.modal-popup .modal-content {
	padding : 50px 30px;
}

.block-authentication .block-title {
	color: #1f2610;
	font-weight: 500;
	font-size: 20px;
	text-align: left;
}
.block-authentication .block-title strong { font-weight: 500; }
.block-authentication .actions-toolbar > .secondary {
	padding-top: 10px;
	margin: 0;
	float: none;
}
.block-authentication .actions-toolbar > .primary { 
	float: none;
}
.block-customer-login .primary .primary {
	margin-top: 12px;
}
input :-webkit-autofill, textarea :-webkit-autofill, select :-webkit-autofill {
    background-color: #fff !important;
    background-image: none !important;
    color: #1f2610 !important;
    padding-left: 15px;
}
.block-authentication .block[class] .field .control input { padding-left: 15px;  }
.block-authentication .block[class] .block-info-link {
	text-align: left;
	padding: 0;
	margin-top: 50px;
	li  a {
		color: #1f2610;
		font-weight: 500;
		font-size: 20px;
		text-align: left;
		margin-bottom: 20px;
		display: inline-block;
		text-direction: none;
		text-transform: uppercase;
	}
}
body .verticalmenu.navigation.side-verticalmenu {
	overflow: auto;
	max-height: 252px;
  height: 252px;
}
.top-nav-right .minicart-wrapper .block-minicart {
	top: 0;
    display: block;
    position: fixed;
    left: 0;
    max-height: 100%;
    height: 100%;
	width: 21.6%;
	min-width: 1px;
    z-index: 99999;
    margin-top: 0;
	padding: 50px 30px;
	border: none;
	box-shadow: none;
	.logo {
	    border-bottom: 3px solid #1f2610;
	    padding-bottom: 50px;
	    margin-bottom: 50px;
	}
	.block-content { position: relative; }
}
.close,
.close:hover, .close:focus {
	opacity: 1;
}
.block-minicart .block-content > .actions > .primary {
	margin: 0;
	button {
		margin: 0;
		display: block;
		padding: 7px 15px;
		background: #1f2610;
		color: #fff;
		font-family: 'Oswald', sans-serif;
		text-transform: uppercase;
	}	
	
}
.block-minicart .subtotal {
	margin: 0;
	margin-top: 20px;
	text-align: unset;
	.label {
		color: #1f2610;
		font-weight: 500;
		font-size: 20px;
		text-align: left;
		display: inline-block;
		text-direction: none;
		text-transform:uppercase;
	}
	.amount.price-container {
		display: inline-block;
		margin-left:20px;
	}
}
.block-minicart .items-total {
	float: none;
	.title_mycart {
		color: #1f2610;
		font-weight: 500;
		font-size: 20px;
		text-align: left;
		display: inline-block;
		text-transform:uppercase;
	}
	font-size: 12px;
	color: #b95d02;
	margin: 0;
	text-align: left;
}
.block-minicart .minicart-items-wrapper { border: none; }
.minicart-wrapper .action.close {
	right: -20px;
	top: -9px;;
}
.top-nav-right .block-search { 
	position: unset;
	padding-left: 0;
}
.block.block-search .dropdown-menu {
	top: 0;
    position: fixed;
    left: 0;
    max-height: 100%;
    height: 100%;
	min-width: 1px;
    width:21.6%;
    z-index: 99999;
    margin-top: 0;
	padding: 50px 30px;
}
.block.block-search .dropdown-menu .title-search {
	color: #1f2610;
    font-weight: 500;
    font-size: 20px;
    text-align: left;
	text-transform:uppercase;
}
.block.block-search .dropdown-menu .dropdown-toggle { position: relative; }
.minicart-wrapper .action.close:before {
	content: "\f057";
    font-family: 'Font Awesome 5 Free';
    font-size: 24px;
    color: #1f2610;
    font-weight: 400;
}
.block.block-search .dropdown-menu .dropdown-toggle .top-search .close-search:before {
	content: "\f057";
    font-family: 'Font Awesome 5 Free';
    font-size: 24px;
    color: #1f2610;
    font-weight: 400;
	position:absolute;
	top: -21px;
	right:0;
}
.top-nav-right .block-search .action.search:before { display: none; }
.top-nav-right .block-search .action.search {
	position: unset;
	width: 100%;
    background-color: #eee;
	margin-top: 12px;
	font-size: 18px;
    font-weight: 500;
    color: #1f2610;
	padding: 10px;
	line-height: 1;
	span { color: #1f2610; }
	&:hover {
		background-color:#1f2610;
		span { color: #fff;}
	}
}
.top-nav-right .block-search .control { margin-top: 60px; }
.block-search .action.search > span { position: unset; }
.block-search .action.search.disabled, .block-search .action.search[disabled], fieldset[disabled] .block-search .action.search { opacity: 1;}
.minicart-items-wrapper {
	margin-top: 35px;
}
.block.block-search .dropdown-menu .logo {
	border-bottom: 3px solid #1f2610;
	padding-bottom: 50px;
	margin-bottom: 50px;
}
.block-minicart .block-content>.actions .viewcart,
.block-minicart .block-content > .actions > .primary .action.primary {
    background-color: #eee;
	font-size: 18px;
    font-weight: 500;
    color: #1f2610;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    border: none;
    &:hover {
    	color: #fff;
		background-color: #1f2610; 
		opacity: 0.9;
    }
}
.top-nav-right .minicart-wrapper .block-minicart,
.block.block-search .dropdown-menu{
	&:before {
	    content: "";
		background-color: rgba(51, 51, 51, 0.55);
		bottom: 0;
		left: 21.6%;
		position: fixed;
		right: 0;
		top: 0;
		z-index: 999;
		width: auto;
		height: auto;
	}
}
.block-authentication .actions-toolbar > .secondary a span {
	font-family: 'Oswald',sans-serif;
	font-weight: 400;
	font-size: 14px;
    color: #1f2610;
}

body .fotorama__stage__frame .fotorama__img {
	top: 0;
	left: 0;
    -webkit-transform: unset;
    -ms-transform: unset;
    -o-transform: unset;
    transform: unset;
}
.category-image, .category-description {
  position: relative;
  .span_us {
    position: absolute;
    top: 50%;
    left: 50%;
    font-family: Oswald,sans-serif;
    font-weight: 500;
    font-size: 45px;
    color: #fff;
    line-height: 1;
    text-transform: uppercase;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
  }
}

.verticalmenu.navigation.side-verticalmenu>ul .expand-category-link {
   display: inline-block;
    padding: 12px 0;
    border: 0;
    line-height: 26px;
    text-align: left;
    width: 100%;
    margin: 0;
    font-family: Oswald,sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: #1f2610;
    text-transform: uppercase;
    .fa-plus:before {
      content: "\f067";
      font-size: 12px;
    }
    &.expanding .fa-plus:before {
      content: "\f068";
    }
}

// FIX 

.fancybox-wrap .action_button .button {
  font-weight: 400;
}
body .fancybox-close {
  background: none;
  right: 0;
  top: 5px;
  &:before {
    content: "\f057";
    font-family: 'Font Awesome 5 Free';
    font-size: 24px;
    color: #1f2610;
    font-weight: 400;
  }
}
.block-cart-failed .action.continue, 
.cart-container .form-cart .action.continue, 
button, .cart.table-wrapper .actions-toolbar > .action, 
.cart.table-wrapper .action-gift, .action.primary, 
.review-form .action.submit.primary, 
.primary .action.primary, .actions .action.primary, 
.checkout.action.primary {
  font-weight: 400;
}
.block-minicart .block-content > .actions > .primary .action.primary,
.block-minicart .block-content > .actions .viewcart { 
   padding: 10px; 
  line-height: 1;
 }
 .review-form .action.submit.primary:hover { border: none; }

 .product-grid .item-inner:nth-child(3n+1) {
    clear: none;
}
.product-grid .item-inner { margin-bottom: 20px; }

.minicart-items .product > .product-item-photo, .minicart-items .product > .product-image-container { 
	float:none;
	.product-image-container {
		display: unset;
	}
}
.minicart-items .product-item-details {
	padding-left: 0;
	text-align: center;
	.product-item-pricing .label {
		width: 25px;
	}
	.item-qty { 
		border-bottom: 0;
		margin-right:0;
	}
}
.minicart-wrapper .product .actions {
	float: none;
	text-align: center;
	margin: 0;
}
.block-minicart .subtotal .amount.price-container { margin-left: 0; }
body .one-step-checkout h3 {
	background: #1f2610 none repeat scroll 0 0;
}
table > thead > tr > th { 
	padding: 8px 0;
}
body .order-review-section .payment-method .opcheckout-payment-methods {
	padding: 12px 4%;
}
body .opcheckout-shipping-method-section .sp-methods dt { 
	font-weight: 400;
}
.products-list .product-item .product-item-details .product-name:after,
body .one-step-checkout h1.checkout_header:before {
	border-top: 3px solid #1f2610;
}
.product-add-form .fieldset>.field:not(.choice)>.label span, 
.product-options-bottom .box-tocart .field.qty label span, 
.view-product .box-tocart .field.qty label span,
.brand-label,
.product-view .product-info-stock-sku .attribute strong,
.product-view .product-info-stock-sku .stock,
body .swatch-attribute-label {
	font-family: 'Oswald',sans-serif;
	color: #282828;
	font-weight: 500;
	font-size:20px;
}
.product-view .product-info-stock-sku .attribute strong { margin-bottom: 10px; }	
.product-options-bottom .box-tocart .action.tocart span { font-size: 0; }
.product-options-bottom .box-tocart .action.tocart, .view-product .box-tocart .action.tocart {
	padding: 0;
    border-radius: 100%;
    background: #fff;
    border: 3px solid #1f2610;
    color: #1f2610;
    line-height: 46px;
    width: 52px;
    height: 52px; 
	&:before {
		content: "\f291";	
		font-family: "Font Awesome 5 Free";
		font-weight: 900;
	}
	&:hover {
		background: #1f2610;
		&:before {
			color: #fff;
		}
	}
}
.product-view .box-tocart, .product-options-bottom .box-tocart .fieldset {
	position: relative;
}
.product-options-bottom .box-tocart .actions, .view-product .box-tocart .actions {
	position: absolute;
    top: 14px;
    right: -42px;
}
.action.primary, .actions .action.primary, .block-cart-failed .action.continue, 
.cart-container .form-cart .action.continue, .cart.table-wrapper .action-gift, 
.cart.table-wrapper .actions-toolbar>.action, .checkout.action.primary, 
.primary .action.primary, .review-form .action.submit.primary, button {
	padding : 16px 25px;
	font-size: 18px;
}
body .fotorama__thumb-border {
	border: 1px solid #b95d02;
}
.fieldset .review-legend.legend {
	margin-bottom: 0;
}
.product.info.detailed .product.data.items .review-add .review-fieldset .field .label {
	font-size:14px;
}
.view-product .product-info {
	margin-left: 30px;
}
.product-item .product-info .product-name, .product-list-item .product-info .product-name {
	margin-top: 0;
	margin-bottom: 15px;
}
body .opcheckout-place { height: 50px; }