@import 'source/_variables_themes.less';
@import 'source/_reset_themes.less';
@import 'source/_global_themes.less';
@import 'source/_layouts_themes.less';
@import 'source/_menu_themes.less'; 
@import 'source/_quickview_themes.less';
@import 'source/_newsletterpopup.less';
@import 'source/_vertical_menu.less';
@import 'source/_animate_themes.less';
@import 'source/_owl.carousel.less';
@import 'source/_responsive_themes.less';

/*** Global ***/
@import 'source/_products.less';
@import 'source/_product.less';
@import 'source/_about_us.less';
@import 'source/_store_locations.less';
@import 'source/_blog.less';

@font-face {
	font-family: 'Kanit';
	src: url('https://fonts.googleapis.com/css?family=Kanit');
	font-weight: normal;
	font-style: normal;
}
* {
	font-family: 'Kanit';
}

.attr-info {
	.addcart-link {
		margin: 0 !important;
		max-width: 100% !important;
	}
}

.attr-product {
	text-align: center;
}

.product-social-extra {
	margin: 10px 0 0 0;
	text-align: center;
}

.header-container {
	.header-content {
		.top-bar-right {
			text-align: right;
		}
	}
}

.cart.table-wrapper {
	.product-item-details {
		margin: 0 0 0 70px;
		text-align: left;
	}
}

.actions-toolbar {
	text-align: left;
}

.header-container {
	.header-content {
		.minicart-wrapper {
			.minicart-items {
				.product-item-details {
					text-align: left;
				}
			}
		}
	}
}

.addcart-link {
	button {
		width: 100%;
	}
}

.header-control.header-nav {
	position: relative;
}

.fotorama__caption {
	display: none;
}


.middle-banner {
    text-align: -webkit-center;
    margin: 10px 0 0 0;
}

button.btn-add-to-cart{
	margin: 0 0 0 -6px
}

.rewards__product-points {
	display: block;
	padding-bottom: 10px;
	margin-top: -5px;
}

.addcart-link:hover#product-addtocart-button {
    background:#ff5501 !important;
    
}

.addcart-link#product-addtocart-button {
	background: #ff8201 !important;
	margin-left: 0px;
}

.btn-add-to-cart:hover {
    background:#ff5501 !important; 
}
.btn-add-to-cart{
	background:#ff8201 !important;
}

button#top-cart-btn-checkout:hover {
    background:#ff5501 !important; 
}

button#top-cart-btn-checkout{
	background:#ff8201 !important;
}

button#opcheckout-button-place-order:hover {
    background:#ff5501 !important; 
}

button#opcheckout-button-place-order{
	background:#ff8201 !important;
}

.total-mini-cart-item{
	background: #ff5501 !important;
}

.btn-viewcart{
	color:#333;
	background:#ff8201 !important;
}

.btn-viewcart:hover{
	color:#333 !important;
	background:#ff5501 !important;
}

.tba-middle-banner-container{
    .tba-middle-banner{
    }
}

.tba_secure_icon {
    &:after {
        content: '\e609';
        font-family: 'icons-blank-theme';
        top: 0;
        color: #fff;
    }
}

.tba_pay_logo{
    margin-left: 15px;
    width: 55px;
    height: 55px;
}

.tba_img_cvv{
    height: 121px;
}
.tba_cs_mpay{
     background: url(images/Mpay.png) no-repeat center center;
}
.tba_cs_bigc{
     background: url(images/BigC.png) no-repeat center center;
}
.tba_cs_true{
     background: url(images/truemoney.png) no-repeat center center;
}
.tba_cs_tpost{
     background: url(images/paypost.png) no-repeat center center;
}
.tba_cs_tesco{
     background: url(images/Lotus.png) no-repeat center center;
}
.tba_cs_tot{
     background: url(images/Justpay.png) no-repeat center center;
}
.tba_cs_cenpay{
     background: url(images/Cenpay.png) no-repeat center center;
}

.tba_atm_bay{
     background: url(images/KMA.png) no-repeat center center;
}
.tba_atm_bbl{
     background: url(images/Bangkok.png) no-repeat center center;
}
.tba_atm_kbank{
     background: url(images/Kasikorn.png) no-repeat center center;
}
.tba_atm_ktb{
     background: url(images/KTB.png) no-repeat center center;
}
.tba_atm_scb{
     background: url(images/SCB.png) no-repeat center center;
}
.tba_atm_tbank{
     background: url(images/Thanachart.png) no-repeat center center;
}
.tba_atm_tmb{
     background: url(images/TMB.png) no-repeat center center;
}

.tba_ib_bay{
     background: url(images/KMAIB.png) no-repeat center center;
}
.tba_ib_bbl{
     background: url(images/BangkokIB.png) no-repeat center center;
}
.tba_ib_kbank{
     background: url(images/K+.png) no-repeat center center;
}
.tba_ib_ktb{
     background: url(images/KTBIB.png) no-repeat center center;
}
.tba_ib_scb{
     background: url(images/SCBIB.png) no-repeat center center;
}
.tba_ib_tbank{
     background: url(images/ThanachartIB.png) no-repeat center center;
}
.tba_ib_tmb{
     background: url(images/TMBIB.png) no-repeat center center;
}

.tba_ki_boonterm{
     background: url(images/Boomterm.png) no-repeat center center;
}
.tba_cvv{
     background: url(images/cvv2.png) no-repeat;
}

.min-height-content
{
	min-height: 400px;
}

/*** Price Overlap ***/
.detail-info-product-view {
	.price-final_price {
		.rewards__product-points {
			margin-top: 5% !important;
		}
	}
}


/*** Tab order ***/
.order-links{
    margin-bottom: 0px;
}
.order-links .item{
    line-height: 3rem !important;
}
